<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="true"/>  <!-- 全域使用暫存 -->
        <setting name="useGeneratedKeys" value="true"/>  <!-- 自動產生主鍵 -->
        <setting name="defaultExecutorType" value="REUSE"/> <!-- 使用REUSE執行器(prepared statements) -->
        <setting name="logImpl" value="SLF4J"/> <!-- 指定日誌 -->
        <!-- <setting name="mapUnderscoreToCamelCase" value="true"/>  (camelCase) -->
    </settings>

</configuration>
